@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
    --font-color: white;
    --nav-bg: black;
}

*{
    font-family: 'Inconsolata', monospace;
    color: var(--font-color);
}

body{
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bg);
    justify-content: space-between;
} .nav-bar ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
} .nav-bar li{
    font-size: 2rem;
    padding: 20px;
} .nav-bar img{
    border-radius: 100px;
    padding: 20px;
    width: 50px;
} .nav-bar a{
    text-decoration: none;
}