@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root{
    --font-color: white;
    --nav-bg: black;
    --background: white;
}

*{
    font-family: 'Inconsolata', monospace;
    color: var(--font-color);
}

body{
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bg);
    justify-content: space-between;
} .nav-bar ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
} .nav-bar li{
    font-size: 2rem;
    padding: 20px;
} .nav-bar img{
    margin-right: 30px;
    border-radius: 100px;
    padding: 20px;
    width: 35px;
    height: 35px;
} .nav-bar a{
    text-decoration: none;
}

/* CONTENT */

.content{
    height: 100vh;
    width: 100vw;
    background-color: #323232;
}

/* Wrapper */

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(150px, auto) ;
    padding: 20px; 
    margin: 50px 50px;

    border: 1px solid red;
}

.box{
    
    border:3px solid #ea8f8f;
    color: black;
}

/* Profile div */

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1/3;
}

.profile-pic{
    
}

#profile-pic{
    border-radius: 10px;
}

div.user-info{

}

table.user-info{

}
table.user-info td{
    padding: 10px;
    border-bottom: 1px solid white;
}

/* Stats div */

.stats{
    grid-row: 1/3;
    grid-column: 2/5;
}

/* Manga-list */

.manga-list{
    grid-column: 1/5;
}

/* Anime-List */

.anime-list{
    grid-column: 1/5;
}

/* MEDIA QUERY */

/* @media (max-width:700px){
    .wrapper{
        margin: 50px 20px;
    }
} */
